/* Dracula */
/* 8 normal colors */
[0] = "#000000", /* black   */
[1] = "#ff5555", /* red     */
[2] = "#50fa7b", /* green   */
[3] = "#f1fa8c", /* yellow  */
[4] = "#bd93f9", /* blue    */
[5] = "#ff79c6", /* magenta */
[6] = "#8be9fd", /* cyan    */
[7] = "#bbbbbb", /* white   */

/* 8 bright colors */
[8]  = "#44475a", /* black   */
[9]  = "#ff5555", /* red     */
[10] = "#50fa7b", /* green   */
[11] = "#f1fa8c", /* yellow  */
[12] = "#bd93f9", /* blue    */
[13] = "#ff79c6", /* magenta */
[14] = "#8be9fd", /* cyan    */
[15] = "#ffffff", /* white   */

/* special colors */
[256] = "#282a36", /* background */
[257] = "#f8f8f2", /* foreground */
};
 
unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 257;
static unsigned int defaultrcs = 257;
 
unsigned int defaultitalic = 7;
unsigned int defaultunderline = 7;



/* Gruvbox */
"#282828", /* hard contrast: #1d2021 / soft contrast: #32302f */
"#cc241d",
"#98971a",
"#d79921",
"#458588",
"#b16286",
"#689d6a",
"#a89984",
"#928374",
"#fb4934",
"#b8bb26",
"#fabd2f",
"#83a598",
"#d3869b",
"#8ec07c",
"#ebdbb2",
[255] = 0,
/* more colors can be added after 255 to use with DefaultXX */
"#282828", /* 256 -> bg */
"#ebdbb2", /* 257 -> fg */
"#add8e6", /* 258 -> cursor */
"#555555", /* 259 -> rev cursor*/

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
unsigned int defaultcs = 258;
unsigned int defaultrcs = 259;
unsigned int bg = 256, bgUnfocused = 256;


/* Gruvbox Material */
  /* 8 normal colors */
  [0] = "#282828", /* hard contrast: #1d2021 / soft contrast: #32302f */
  [1] = "#ea6962", /* red     */
  [2] = "#a9b665", /* green   */
  [3] = "#d8a657", /* yellow  */
  [4] = "#7daea3", /* blue    */
  [5] = "#d3869b", /* magenta */
  [6] = "#89b482", /* cyan    */
  [7] = "#d4be98", /* white   */

  /* 8 bright colors */
  [8]  = "#928374", /* black   */
  [9]  = "#ef938e", /* red     */
  [10] = "#bbc585", /* green   */
  [11] = "#e1bb7e", /* yellow  */
  [12] = "#9dc2ba", /* blue    */
  [13] = "#e1acbb", /* magenta */
  [14] = "#a7c7a2", /* cyan    */
  [15] = "#e2d3ba", /* white   */
 [255] = 0,
 [256] = "#282828",
 [257] = "#e2d3ba",
 [258] = "#282828",
 [259] = "#555555",
};

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
unsigned int defaultcs = 258;
unsigned int defaultrcs = 259;
unsigned int bg = 256, bgUnfocused = 256;


 /*



    /* Vim Nightfly */
"#1d3b53",  /*  0: black    */
"#fc514e",  /*  1: red      */
"#a1cd5e",  /*  2: green    */
"#e3d18a",  /*  3: yellow   */
"#82aaff",  /*  4: blue     */
"#c792ea",  /*  5: magenta  */
"#7fdbca",  /*  6: cyan     */
"#a1aab8",  /*  7: white    */
"#7c8f8f",  /*  8: brblack  */
"#ff5874",  /*  9: brred    */
"#21c7a8",  /* 10: brgreen  */
"#ecc48d",  /* 11: bryellow */
"#82aaff",  /* 12: brblue   */
"#ae81ff",  /* 13: brmagenta*/
"#7fdbca",  /* 14: brcyan   */
"#d6deeb",  /* 15: brwhite  */

[255] = 0,
"#011627",
"#acb4c2",
"#eeeeee",
"#080808",
"#9ca1aa",
"#b2ceee",
"#080808",
};


unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
unsigned int defaultcs = 258;
unsigned int defaultrcs = 259;
unsigned int bg = 256, bgUnfocused = 256;




	/* solarized dark */
"#073642",  /*  0: black    */
"#dc322f",  /*  1: red      */
"#859900",  /*  2: green    */
"#b58900",  /*  3: yellow   */
"#268bd2",  /*  4: blue     */
"#d33682",  /*  5: magenta  */
"#2aa198",  /*  6: cyan     */
"#eee8d5",  /*  7: white    */
"#002b36",  /*  8: brblack  */
"#cb4b16",  /*  9: brred    */
"#586e75",  /* 10: brgreen  */
"#657b83",  /* 11: bryellow */
"#839496",  /* 12: brblue   */
"#6c71c4",  /* 13: brmagenta*/
"#93a1a1",  /* 14: brcyan   */
"#fdf6e3",  /* 15: brwhite  */
