*/
    /*Darculized Theme*/
/*
"#000000", 
"#ff5555", 
"#50fa7b", 
"#f1fa8c", 
"#bd93f9", 
"#ff79c6", 
"#8be9fd", 
"#bbbbbb", 

"#44475a",
"#ff5555",
"#50fa7b",
"#f1fa8c",
"#bd93f9",
"#ff79c6",
"#8be9fd",
"#ffffff",

[255] = 0,

"#282a36",
"#f8f8f2",

 };

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 257;
static unsigned int defaultrcs = 257;

*/

/* solarized dark base-16*/
"#002b36", 
"#dc322f",
"#859900",
"#b58900",
"#268bd2",
"#6c71c4",
"#2aa198",
"#93a1a1",
"#657b83",
"#dc322f",
"#859900",
"#b58900",
"#268bd2",
"#6c71c4",
"#2aa198",
"#fdf6e3",

[255] = 0,

"#002b36",
"#93a1a1",
};

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 3;
static unsigned int defaultrcs = 0;

    /*Grubbox Theme*/
/*
"#282828", /* orig #282828hard contrast: #1d2021 / soft contrast: #32302f */
"#cc241d",
"#98971a",
"#d79921",
"#458588",
"#b16286",
"#689d6a",
"#a89984",

"#928374",
"#fb4934",
"#b8bb26",
"#fabd2f",
"#83a598",
"#d3869b",
"#8ec07c",
"#ebdbb2",

[255] = 0,

"#282828",
"#ebdbb2",
"#add8e6",
};

unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 258;
static unsigned int defaultrcs = 0;
*/

/* Brogrammer */
"#1f1f1f",
"#f81118",
"#2dc55e",
"#ecba0f",
"#2a84d2",
"#4e5ab7",
"#1081d6",
"#d6dbe5",
         
"#d6dbe5",
"#de352e",
"#1dd361",
"#f3bd09",
"#1081d6",
"#5350b9",
"#0f7ddb",
"#ffffff",

[255] = 0,
"#131313",
"#d6dbe5",
};
unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 3;
static unsigned int defaultrcs = 0;

/* Dracula */
"#44475a",
"#ff5555",
"#50fa7b",
"#ffb86c",
"#8be9fd",
"#bd93f9",
"#ff79c6",
"#94A3A5",
         
"#000000",
"#ff5555",
"#50fa7b",
"#ffb86c",
"#8be9fd",
"#bd93f9",
"#ff79c6",
"#ffffff",
         
[255] = 0,
"#282a36",
"#94A3A5",

};
unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 3;
static unsigned int defaultrcs = 0;

/* Nord Theme */
 static const char *colorname[] = {
 	/* 8 normal colors */
"#3b4252", /* black   */
"#bf616a", /* red     */
"#a3be8c", /* green   */
"#ebcb8b", /* yellow  */
"#81a1c1", /* blue    */
"#b48ead", /* magenta */
"#88c0d0", /* cyan    */
"#e5e9f0", /* white   */

/* 8 bright colors */
"#4c566a", /* black   */
"#bf616a", /* red     */
"#a3be8c", /* green   */
"#ebcb8b", /* yellow  */
"#81a1c1", /* blue    */
"#b48ead", /* magenta */
"#8fbcbb", /* cyan    */
"#eceff4", /* white   */

[255] = 0,

/* more colors can be added after 255 to use with DefaultXX */
"#2e3440", /* background */
"#d8dee9", /* foreground */
 };
 
 
unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 257;
static unsigned int defaultrcs = 256;

/* Dracula */
/* 8 normal colors */
[0] = "#000000", /* black   */
[1] = "#ff5555", /* red     */
[2] = "#50fa7b", /* green   */
[3] = "#f1fa8c", /* yellow  */
[4] = "#bd93f9", /* blue    */
[5] = "#ff79c6", /* magenta */
[6] = "#8be9fd", /* cyan    */
[7] = "#bbbbbb", /* white   */

/* 8 bright colors */
[8]  = "#44475a", /* black   */
[9]  = "#ff5555", /* red     */
[10] = "#50fa7b", /* green   */
[11] = "#f1fa8c", /* yellow  */
[12] = "#bd93f9", /* blue    */
[13] = "#ff79c6", /* magenta */
[14] = "#8be9fd", /* cyan    */
[15] = "#ffffff", /* white   */

/* special colors */
[256] = "#282a36", /* background */
[257] = "#f8f8f2", /* foreground */
};
 
unsigned int defaultfg = 257;
unsigned int defaultbg = 256;
static unsigned int defaultcs = 257;
static unsigned int defaultrcs = 257;
 
unsigned int defaultitalic = 7;
unsigned int defaultunderline = 7;


/* solarized dark */
"#073642",  /*  0: black    */
"#dc322f",  /*  1: red      */
"#859900",  /*  2: green    */
"#b58900",  /*  3: yellow   */
"#268bd2",  /*  4: blue     */
"#d33682",  /*  5: magenta  */
"#2aa198",  /*  6: cyan     */
"#eee8d5",  /*  7: white    */
"#002b36",  /*  8: brblack  */
"#cb4b16",  /*  9: brred    */
"#586e75",  /* 10: brgreen  */
"#657b83",  /* 11: bryellow */
"#839496",  /* 12: brblue   */
"#6c71c4",  /* 13: brmagenta*/
"#93a1a1",  /* 14: brcyan   */
"#fdf6e3",  /* 15: brwhite  */
 };
 
unsigned int defaultfg = 12;
unsigned int defaultbg = 8;
static unsigned int defaultcs = 14;
static unsigned int defaultrcs = 15;



 #011627   /* Background     */
 #acb4c2   /* Foreground     */
 #eeeeee   /* Bold           */
 #9ca1aa   /* Cursor         */
 #080808   /* Cursor Text    */
 #b2ceee   /* Selection      */
 #080808   /* Selection Text */
 #1d3b53   /* Color 1        */
 #fc514e   /* Color 2        */
 #a1cd5e   /* Color 3        */
 #e3d18a   /* Color 4        */
 #82aaff   /* Color 5        */
 #c792ea   /* Color 6        */
 #7fdbca   /* Color 7        */
 #a1aab8   /* Color 8        */
 #7c8f8f   /* Color 9        */
 #ff5874   /* Color 10       */
 #21c7a8   /* Color 11       */
 #ecc48d   /* Color 12       */
 #82aaff   /* Color 13       */
 #ae81ff   /* Color 14       */
 #7fdbca   /* Color 15       */
 #d6deeb   /* Color 16       */
